body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 22px;
}

input {
    min-width: 128px;
    min-height: 22px;
}

button {
    background: #bbbbbb;
    height: 32px;
    width: 128px;
    border: 1px solid #cccccc;
    font-size: 16px;
    padding: 4px;
    text-transform: uppercase;
}

button:hover {
    background: #cccccc;
    box-shadow: 1px 1px 1px #aaaaaa;
}

#errorsLabel {
    color: #ff0000;
}